#servicos
{
position: relative;
background-image: url(tour-bg.jpg);
background-repeat: repeat-x;

}

#sobre
{
background: url(slider.jpg) 0 100% repeat-x;
position: relative;
padding:50px;
}
